* {padding: 0;margin: 0;}
@font-face{font-family: prox ;src: url(Unified-Regular.ttf);}
@font-face{font-family: log ;src: url(ONEFINGER_CRE.ttf);}
header {background-image: url('backg1.jpg');}
#newsletter {background-color: #212629;overflow: hidden;}
#quotes {background-color:#1c2023;overflow: hidden;}
#footer {background-color:#191c1f;overflow: hidden;}
#footer1 {background:#15181b;overflow: hidden;}
#map {width: 100% ; height: 210px;}
.wrapper { width: 85%; margin: 0 auto; position: relative; }
.clear {clear:both;}

/*

.menu ul {list-style: none; 
			margin: 0;
			padding:0;
			text-align: center;}
.menu ul li {float: right;
			margin-left: 45px;
			background: transparent;}
.menu ul li a {padding: 15px 10px; 
				display: block; 
				text-decoration: none; 
				color:white;
				background: transparent;
				font-family: prox;
				font-size: 19px;}
.menu ul li a:hover {background: transparent;
					 color:#4aa9af;
					 transition: 0.3s all ease;}
*/

/* START: Responsive Navbar*/
.menu { list-style: none; float: right; }
.menu li { display: inline-block; padding: 20px 20px; font-family: prox ;}
.menu li a { text-decoration: none; color: #fafafa; }
.menu li a:hover {color: #4aa9af; transition: 0.3s all ease;}
.icon { display: none; width: 100%; text-align: right; }
/* END */
.logo { border-bottom: 1px solid #3C9099; padding-bottom: 13px; }

.logo h1{float: left;
		font-family: prox; 
		color:#3C9099;
		background:transparent;
		font-size: 30px;
		padding-top: 20px;}
.logo h3 {font-family: prox;
		color: white;
		font-size: 30px;
		padding-top: 20px;}
.motto h1{font-family: log;
			color:white;
			padding-top:150px;
			padding-left: 340px;
			font-size: 90px}
.ket h2 {font-family: prox;
		text-align: center;
		font-size: 30px;
		color:#658361;}
.button  ul li {text-align: center;
				padding-top: 33px;
				padding-bottom: 256px;}
.button  ul li a {font-family:prox;
				font-size:15px;
				display: inline-block;
				text-decoration: none; 
				background: #FBF7F7;
				padding: 10px 30px; 
				border-radius: 4%;
				color: #273952}
.button ul li a:hover {background: transparent; 
						color:#FBF7F7 ;
						transition: 0.3s all ease;}

.our {float: left;color:#3C9099;font-family: prox;font-size: 40px;}

.garis {border: 1px solid#2D767F;}

.fasilitas h1 {font-family: prox ;
				padding-top: 40px;}
.f1 {max-width: 350px;float: left; text-align: center;padding-left: 30px;padding-top: 30px;}
.f1 h3 {font-family: prox; text-align: left; font-size: 14px;padding-top: 30px;padding-left: 15px;}
.gallery h1 {font-family: prox;
			padding-top: 70px;}
.g1 img{width:100%;padding-top: 30px;}
.g1 {width: 40%;float: left;}
.gallery h2 {font-family: prox;
		font-size: 15px;
		float: left;
		width: 33.33%;
		padding-top: 30px;
		padding-left: 30px;}

.buttong ul {text-decoration: none;
			list-style: none;}
.buttong  ul li {text-align: center;
				padding-top: 180px;
				padding-right: 70px;
				}
.buttong  ul li a {font-family:prox;
				font-size:15px;
				display: inline-block;
				text-decoration: none; 
				background: #4aa9af;
				padding: 10px 18px; 
				border-radius: 4%;
				color: white;
				}
.buttong ul li a:hover {background: #1c2023; 
						color:#fafafa;
						transition: 0.3s all ease;
						text-decoration: none;}

.buttong1 ul {text-decoration: none;
			list-style: none;}
.buttong1  ul li {text-align: center;
				padding-top: 180px;
				padding-right: 70px;
				}
.buttong1  ul li a {font-family:prox;
				font-size:15px;
				display: inline-block;
				text-decoration: none; 
				background: #4aa9af;
				padding: 10px 18px; 
				border-radius: 4%;
				color: white;
				}
.buttong1 ul li a:hover {background: #1c2023; 
						color:#fafafa;
						transition: 0.3s all ease;
						text-decoration: none;}

.buttong2 ul {text-decoration: none;
			list-style: none;}
.buttong2  ul li {text-align: center;
				padding-top: 180px;
				padding-right: 70px;
				}
.buttong2  ul li a {font-family:prox;
				font-size:15px;
				display: inline-block;
				text-decoration: none; 
				background: #4aa9af;
				padding: 10px 18px; 
				border-radius: 4%;
				color: white;
				}
.buttong2 ul li a:hover {background: #1c2023; 
						color:#fafafa;
						transition: 0.3s all ease;
						text-decoration: none;}



.buttong5 ul {text-decoration: none;
			list-style: none;}
.buttong5  ul li {text-align: center;
				padding-top: 80px;
				padding-right: 70px;
				}
.buttong5  ul li a {font-family:prox;
				font-size:15px;
				display: inline-block;
				text-decoration: none; 
				background: #1c2023;
				padding: 10px 45px; 
				border-radius: 4%;
				color: white;
				}
.buttong5 ul li a:hover {background: #4aa9af; 
						color:#fafafa;
						transition: 0.3s all ease;
						text-decoration: none;}

.achieve {font-family: prox;
			margin-top: 60px;}
.ach1 { width: 33.33%;
		float: left; 
		text-align: center;
		margin-bottom: 70px;}
.ach1 h3 {margin-top: 70px;}

.partner {font-family: prox;
		margin-top: 20px;}

.partg {width: 33.33%;
		float: left;
		text-align: center;}
.partg ul {text-decoration: none;
			list-style: none;}
.partg ul li {text-decoration: none;}
.partg img {max-width: 45%;
			padding-top: 40px;
			padding-bottom: 40px;}
.partg img:hover {
					opacity: 0.5;
					transition: 0.3s all ease;}

.newsl {margin-top: 40px;
		
		font-family: prox;}

.news {width: 50%;
		float: left;
		color: #fafafa;
		padding-top: 50px;
		padding-bottom: 70px;}

.news h4 {padding-top: 20px;}
.input {width: 50%;
		float:left;
		padding-top: 50px;}
.input1 {width: 210px;
    height: 38px;
    padding-left: 35px;
    padding-right: 10px;
    font-size: 13px;
    color: #ffffff;
    background:#1d2123;
    border: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 15px;}
.submit {color: #ffffff;
    font-size: 15px;
    font-family: prox;
    height: 38px;
    background:#3C9099;
    border: none;
    width: 60px;
    cursor: pointer;
    position: absolute;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;}
.submit:hover{color:black ;
				background: white;
				transition: 0.3s all ease;}

.quote {font-family: prox;
		color:#4a5a63;
		margin-top: 70px;
		margin-bottom: 70px;
		text-align: right;
		font-size: 25px;
		margin-right: 295px;}
.verticalLine {    height: 250px;
   				 width: 2px;
   				 background:#40515f;
    			float: left;
    			margin: 0 30px;
    			margin-top: 40px;}

.nav {font-family: prox;
		width: 15%;
		padding-top: 30px;
		padding-bottom: 70px;
		float: left;}
.nav ul {text-decoration: none;
			list-style: none;}
.nav ul li {list-style: none;padding-top: 15px;}
.nav ul li p {color: white}
.nav ul li a {list-style: none;text-decoration: none; color:#40515f;}
.nav ul li a:hover{color: #fafafa ; transition: 0.3s all ease;}

.social {width: 15%;
		float: left;
		padding-top: 30px;
		padding-bottom: 70px;}
.social ul{text-decoration: none;
			list-style: none;
			}
.social ul li {list-style: none;padding-top: 10px;}
.social ul li p{color: white ;font-family: prox;margin-left: 15px;}
.social ul li a img{width:30px; margin-top: 10px;}
.social ul li a img:hover {transform: rotateY(180deg);}
.social ul li a {font-family: prox;list-style: none;text-decoration: none;padding-left: 10px; color:#40515f;font-size: 13px;}
.social ul li a a{margin-left: 10px;}
.social ul li a:hover {color: #fafafa;transition: 0.3s all ease;}

.wrapmap {width: 50%;float: left;padding-top: 40px;font-family: prox;color: white}
.wrapmap p {padding-bottom: 20px;}

.faq {font-family: prox;
		float: left;
		font-size: 12px;}
.faq ul {text-decoration: none;
			list-style: none;
			float: left;}
.faq ul li{color: #40515f;float: left;padding-right: 10px;}
.faq ul li a{list-style: none ; text-decoration: none ; color:#40515f;float: left; padding-bottom: 40px; }
.faq ul li a:hover{color: #fafafa ; transition: 0.3s all ease;}

.bytengku {font-family: prox;
			text-align: right;}
.bytengku p a {text-decoration: none;list-style: none;color: #40515f;padding-top: 5px;font-size: 13px;}
.bytengku p a:hover {color:#fafafa; transition: 0.3 all ease;}


@media screen and (min-width: 360px) and (max-width: 768px) {
	.menu { display: none; list-style: none; background-color: rgba(0,0,0,0.5); width: 100%; position: absolute; float: none; }
	.menu li { text-align: center; display: block;padding: 20px 20px; border-bottom: 1px solid black;font-family: prox; }
	.menu li:hover { background-color: rgba(20, 20, 20, 0.5); }
	.menu li:last-child { border-bottom: none; }
	.menu li a { text-decoration: none; color: #fff; }
	.icon { display: block; background: transparent; padding: 10px 0; text-decoration: none; color: #fff; }
	.icon span { padding-right: 20px; }

	.motto h1{width: 100%;float: none;padding:0;margin-top:100px;}
	.f1 h3{padding:0;margin: 0; float: none;}
	.f1 {width: 100%;padding:0;}
	.gallery h2{width: 100%;padding: 0;margin: 0;}
	.g1 {width: 100% ;}
	.buttong ul li a{ float:left; margin-top: 20px;}
	.buttong1 ul li a{ float:left; margin-top: 20px;}
	.buttong2 ul li a{ float:left; margin-top: 20px;}
	.buttong5 ul li a{ margin-left: 70px;}

	.ach1 {width: 100%;padding:0;margin: 0;}
	.ach1 img {padding: 0;margin: 0;}
	.ach1 h3 {margin-top: 0;margin-bottom: 20px;}
	.partg {width: 100% ; padding: 0 ; margin: 0;}

	.news {width: 100%;padding: 0;margin: 0 0 20px 0;}
	.input {width: 100%;padding: 0;margin: 0 0 20px 0;}

	.verticalLine{visibility: hidden;padding: 0;margin: 0;}
	.quote {width: 100% ;padding-top:15px;padding-bottom:15px;text-align: left;}
	.nav {width: 98% ; padding: 0;margin: 0; text-align: center;}
	.social {width: 98%; padding: 0 ; margin: 0; text-align: center;}
	.wrapmap {width: 98%;padding: 0;margin: 0;}
	.bytengku{text-align: center;}
	.faq {width:100%; padding:0; margin:0;}
}
